<!-- resultFragment.html -->
<div th:fragment="resultFragment">
  <div class="mt-8">
    <div th:if="${documentInfo.isReachable == true}">
      <h2 class="text-2xl font-bold mb-4 text-center">Parsed HTML Result</h2>
      <div class="bg-white shadow-md rounded-lg p-6">
        <div class="mb-4 flex">
          <h3 class="text-md font-semibold">HTML Version :</h3>
          <p th:text="${documentInfo.htmlVersion}" class="text-gray-700"></p>
        </div>
        <div class="mb-4 flex">
          <h3 class="text-md font-semibold">Title :</h3>
          <p th:text="${documentInfo.title}" class="text-gray-700"></p>
        </div>
        <div class="mb-4 flex">
          <h3 class="text-md font-semibold">Headings :</h3>
          <div class="text-gray-700">
            <ul>
              <li th:each="heading : ${documentInfo.headings}">
                <span th:text="${heading.key}"></span> : <span th:text="${heading.value}"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-4 flex">
          <h3 class="text-md font-semibold">Links :</h3>
          <div class="text-gray-700">
            <ul>
              <li th:each="link : ${documentInfo.links}">
                <span th:text="${link.key}"></span> : <span th:text="${link.value}"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
